<!doctype html>

<html>

<head>

<meta charset="utf-8">

<title>Components</title>

</head>



<body>

	<div class="outer">

		

	<!-- TOP NAVIGATION --> <!-- TOP NAVIGATION --> 

    <div class="Navigation>White Lotus</div>

<!-- HERO SECTION -->

    <div class="page">

      <div class="hero_content">

					<div class="hero_text">	

					  <h1> NETFLIX AND WHITE LOTUS 2</h1>
					  
<p>Shop WHITE LOTUS 2.With designers such as Bottega Venetta, Louise Vitton, and Loewe, to smaller brands. Shop each episode.</p>
                                          </div>
                                          </div>
<img src="img/whitelotus.jpg" alt="White Lotus2" </div>
<div class="text">Bottega Veneta: Medium Arco Tote Bag in butter.<br></div></div>

          

			</div>

		

<!-- NEXT SECTION -->	

	<div row>

	  <div class="content">

			        <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center;">

<img src="img/jennifer.jpg" alt="jc.jpg"/> </div>
<div class="text">Dolce & Gabbana dress and LV handbag in peonie.<br></div></div>

          

		</div>

	  </div>

	</div>

		

<!-- NEXT SECTION -->

		<div class="content2"><img src="img/cast.jpg" alt="cast/></div>
<div class="text">Shop by character and espisode.<br></div></div>

		

	</div>	

</div>		

</body>

</html>

